<h3>Analise</h3>
<div ng-if="!AnaliseVagas.length">
    <h4>Não existe curriculos válidos pra essa vaga</h4>
</div>
<div ng-if="AnaliseVagas.length">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Nome do candidato</th>
                <th>Compatibilidade</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-class="{success: analise.compatibilidade >= 75, warning: analise.compatibilidade >= 55 && analise.compatibilidade < 75}" ng-repeat="analise in AnaliseVagas">
                <td>{{$index + 1}}</td>
                <td>{{analise.nomeCurriculo}}</td>
                <td>{{analise.compatibilidade | number:2}}%</td>
            </tr>
        </tbody>
    </table>
</div>
