<h3>Curriculo</h3>
<button data-ng-click="initNewCurriculo()" class="btn btn-success btn-xs" data-toggle="modal" data-target="#newCurriculo">
    <span class="glyphicon glyphicon-plus"></span>
</button>
<p></p>
<input type="text" class="form-control" placeholder="Pesquisar" ng-model="search.valor">
<br>
<div ng-if="!Curriculos.length">
    <img src="images/ajax-loader.gif" style="display: block;margin-left: auto;margin-right: auto;">
</div>
<div ng-if="Curriculos.length">
    <div class="list-group" data-ng-repeat="curriculo in Curriculos | filter:search.valor">
        <a href ng-click="editCurriculos(curriculo)" class="list-group-item" data-toggle="modal" data-target="#editCurriculo">
            <h4 class="list-group-item-heading" ng-bind="curriculo.nome">List group item heading</h4>
            <p class="list-group-item-text" ng-bind="curriculo.sobre"></p>
            <button ui-sref="main.curriculoanalise({email: curriculo.email} )" ng-click="$event.stopPropagation();" class="btn btn-primary">Analise</button>
        </a>
    </div>
</div>


<!-- Edit Modal -->
<div class="modal fade" id="editCurriculo" tabindex="-1" role="dialog" aria-labelledby="editCurriculoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="editCurriculoLabel">Editar Curriculo</h4>
            </div>
            <div class="modal-body">
                <!-- Form -->
                <form class="form-horizontal" role="form" name="editCurriculoForm">
                    <div class="form-group">
                        <label for="inputNome" class="col-sm-2 control-label">Nome:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputNome" placeholder="Nome" ng-model="editCurriculo.nome" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputIdade" class="col-sm-2 control-label">Idade:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputIdade" placeholder="Idade" ng-model="editCurriculo.idade" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputCidade" class="col-sm-2 control-label">Cidade:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputCidade" placeholder="Cidade" ng-model="editCurriculo.cidade" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputCidade" class="col-sm-2 control-label">Estado:</label>
                        <div class="col-sm-10">
                            <select ng-model="editCurriculo.estado" ng-options="uf for uf in Estados" class="form-control" id="selectArea" required>
                                <option value="">-- selecionar estado --</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Telefone:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputCidade" placeholder="Telefone" ng-model="editCurriculo.telefone" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputTitulo" class="col-sm-2 control-label">Email:</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="inputTitulo" placeholder="Email" ng-model="editCurriculo.email" disabled>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputHabilidades" class="col-sm-2 control-label">Habilidades</label>
                        <div class="col-sm-10">
                            <table class="table table-hover">
                                <thead>

                                </thead>
                                <tbody>
                                    <tr ng-repeat="habilidade in editCurriculo.habilidades">
                                        <td>{{$index + 1}}</td>
                                        <td>{{habilidade}}</td>
                                    </tr>
                                    <tr ng-if="adicionando">
                                        <td></td>
                                        <td>
                                            <input type="text" ng-model="habilidade">
                                            <button ng-click="addHabilidade(editCurriculo, habilidade)" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-ok"></span></button>
                                        </td>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <button data-ng-click="initNewHabilidade(habilidade)" class="btn btn-success btn-xs" data-toggle="modal" data-target="#newHabilidade">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </button>
                                        </td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button ng-click="saveEditCurriculo()" ng-disabled="!editCurriculoForm.$valid" type="button" class="btn btn-primary" data-dismiss="modal">Apply</button>
            </div>
        </div>
    </div>
</div>



<!-- New Modal -->
<div class="modal fade" id="newCurriculo" tabindex="-1" role="dialog" aria-labelledby="newCurriculoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="newCurriculoLabel">Editar Curriculo</h4>
            </div>
            <div class="modal-body">

                <!-- Form -->
                <form class="form-horizontal" role="form" name="newCurriculoForm">
                    <div class="form-group">
                        <label for="inputNome" class="col-sm-2 control-label">Nome:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputNome" placeholder="Nome" ng-model="newCurriculo.nome" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputIdade" class="col-sm-2 control-label">Idade:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputIdade" placeholder="Idade" ng-model="newCurriculo.idade" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputCidade" class="col-sm-2 control-label">Cidade:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputCidade" placeholder="Cidade" ng-model="newCurriculo.cidade" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputCidade" class="col-sm-2 control-label">Estado:</label>
                        <div class="col-sm-10">
                            <select ng-model="newCurriculo.estado" ng-options="uf for uf in Estados" class="form-control" id="selectArea" required>
                                <option value="">-- selecionar estado --</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Telefone:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputCidade" placeholder="Telefone" ng-model="newCurriculo.telefone" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputTitulo" class="col-sm-2 control-label">Email:</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="inputTitulo" placeholder="Email" ng-model="newCurriculo.email" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputHabilidades" class="col-sm-2 control-label">Habilidades</label>
                        <div class="col-sm-10">
                            <table class="table table-hover">
                                <thead>

                                </thead>
                                <tbody>
                                    <tr ng-repeat="habilidade in newCurriculo.habilidades">
                                        <td>{{$index + 1}}</td>
                                        <td>{{habilidade}}</td>
                                    </tr>
                                    <tr ng-if="adicionando">
                                        <td></td>
                                        <td>
                                            <input type="text" ng-model="habilidade">
                                            <button ng-click="addHabilidade(newCurriculo, habilidade)" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-ok"></span></button>
                                        </td>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <button data-ng-click="initNewHabilidade(habilidade)" class="btn btn-success btn-xs" data-toggle="modal" data-target="#newHabilidade">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </button>
                                        </td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button ng-click="addCurriculo();" ng-disabled="!newCurriculoForm.$valid" type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
            </div>
        </div>
    </div>
</div>
