<h3>Curriculo</h3>
<button data-ng-click="initNewCurriculo()" class="btn btn-success btn-xs" data-toggle="modal" data-target="#newCurriculo">
    <span class="glyphicon glyphicon-plus"></span>
</button>
<p></p>

<div class="list-group" data-ng-repeat="curriculo in Curriculos">
    <a href ng-click="editCurriculos(curriculo)" class="list-group-item" data-toggle="modal" data-target="#editCurriculo">
        <h4 class="list-group-item-heading" ng-bind="curriculo.nome">List group item heading</h4>
        <p class="list-group-item-text" ng-bind="curriculo.sobre"></p>
    </a>
</div>



<!-- Edit Modal -->
<div class="modal fade" id="editCurriculo" tabindex="-1" role="dialog" aria-labelledby="editCurriculoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="editCurriculoLabel">Editar Curriculo</h4>
            </div>
            <div class="modal-body">
                <!-- Form -->
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="inputNome" class="col-sm-2 control-label">Nome:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputNome" placeholder="Nome" ng-model="editCurriculo.nome">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputIdade" class="col-sm-2 control-label">Idade:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputIdade" placeholder="Idade" ng-model="editCurriculo.idade">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputCidade" class="col-sm-2 control-label">Cidade:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputCidade" placeholder="Cidade" ng-model="editCurriculo.cidade">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputCidade" class="col-sm-2 control-label">Estado:</label>
                        <div class="col-sm-10">
                            <select ng-model="editCurriculo.estado" ng-options="uf for uf in Estados" class="form-control" id="selectArea">
                                <option value="">-- selecionar estado --</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Telefone:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputCidade" placeholder="Cidade" ng-model="editCurriculo.telefone">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputHabilidades" class="col-sm-2 control-label">Habilidades</label>
                        <div class="col-sm-10">
                            <table class="table table-hover">
                                <thead>

                                </thead>
                                <tbody>
                                    <tr ng-repeat="habilidade in editCurriculo.habilidades">
                                        <td>{{$index + 1}}</td>
                                        <td>{{habilidade}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Apply</button>
            </div>
        </div>
    </div>
</div>



<!-- New Modal -->
<div class="modal fade" id="newCurriculo" tabindex="-1" role="dialog" aria-labelledby="newCurriculoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="editCurriculoLabel">Editar Curriculo</h4>
            </div>
            <div class="modal-body">

                <!-- Form -->
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="inputNome" class="col-sm-2 control-label">Nome:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputNome" placeholder="Nome" ng-model="editCurriculo.nome">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputIdade" class="col-sm-2 control-label">Idade:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputIdade" placeholder="Idade" ng-model="editCurriculo.idade">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputCidade" class="col-sm-2 control-label">Cidade:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputCidade" placeholder="Cidade" ng-model="editCurriculo.cidade">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputCidade" class="col-sm-2 control-label">Estado:</label>
                        <div class="col-sm-10">
                            <select ng-model="editCurriculo.estado" ng-options="uf for uf in Estados" class="form-control" id="selectArea">
                                <option value="">-- selecionar estado --</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Telefone:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputCidade" placeholder="Cidade" ng-model="editCurriculo.telefone">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputHabilidades" class="col-sm-2 control-label">Habilidades</label>
                        <div class="col-sm-10">
                            <table class="table table-hover">
                                <thead>

                                </thead>
                                <tbody>
                                    <tr ng-repeat="habilidade in editCurriculo.habilidades">
                                        <td>{{$index + 1}}</td>
                                        <td>{{habilidade}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

